<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kj.notesapp.lite" >

    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewNote"
            android:label="@string/title_activity_new_note"
            android:parentActivityName=".MyActivity"
            android:theme="@style/MyTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.kapil.materialtestbed.MyActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewNote"
            android:label="@string/title_activity_view_note"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.kapil.materialtestbed.MyActivity" />
        </activity>
        <activity
            android:name=".EditNote"
            android:label="@string/title_activity_edit_note"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name=".BackupRestore"
            android:label="@string/title_activity_backup_restore"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.kapil.materialtestbed.SettingActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".SettingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.kapil.materialtestbed.SettingActivity" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.kapil.materialtestbed.MyActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.kapil.materialtestbed.MyActivity" />
        </activity>
        <activity
            android:name=".SetPasswordActivity"
            android:label="@string/title_activity_set_password"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.kapil.materialtestbed.SettingsActivity" />
        </activity>
        <activity
            android:name=".PasswordActivity"
            android:label="Notes App"
            android:windowSoftInputMode="stateVisible">
        </activity>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

    </application>

</manifest>
